html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
#content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
#output-region {
    flex: 1;
    overflow: hidden;
}
#input-region {
    display: flex;
    padding: 5px;
    gap: 5px;
}
#input-regex {
    flex-grow: 1;
}
