html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
}
svg {
    flex: 1;
    overflow: hidden;
}
input {
    height: 20px;
}
input.error {
    color: red;
}
.node circle {
    stroke: #333;
    fill: #fff;
    stroke-width: 1.5px;
    white-space: nowrap;
}

.edgePath path.path {
    stroke: #333;
    fill: none;
    stroke-width: 1.5px;
}
